@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}