.footer {
  padding: 30px 15px;
  color: #fff;
  background: #484848;
}

.footer__wrapper {
  display: grid;
  gap: 30px;
}

.footer__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__logo img {
  display: block;
  width: 216px;
  /* height: 23px; */
}

.footer__copy {
  font-size: 12px;
  font-weight: 400;
}

.footer__dev img {
  display: block;
  height: 46px;
}
