.form {
  display: grid;
  gap: 15px;
}

.form__field {
  display: block;
  position: relative;
  height: 30px;
  border-bottom: 1px solid #aaa;
}

.form__field input {
  display: block;
  width: 100%;
  padding: 5px;
}

.form__field input::placeholder {
  font-size: 16px;
  color: #aaa;
}

.form__field span {
  position: absolute;
  left: 5px;
  bottom: 4px;
  z-index: 0;
  font-size: 16px;
  color: #aaa;
}

.form__field select {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 1;
}

/* .form__checkbox {} */

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 2px;
  vertical-align: sub;
  margin-right: 5px;
}

.custom-checkbox::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 14px;
  height: 14px;
  background-image: url(../assets/icons/check.svg);
  border: 1px solid #00a1ff;
  background-color: #00a1ff;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.form__checkbox a {
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.form__submit {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #222;
  border-radius: 30px;
}
