.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #aaa;
}

.header__wrapper {
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  /* border: 1px dashed red; */
}

.header__logo {
  width: 77px;
  height: 30px;
  /* border: 1px dashed red; */
}

.header__logo img {
  height: 100%;
}

/* .header__nav {} */

.header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  /* border: 1px dashed red; */
}

.header__lang {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 4px;
  overflow: hidden;
}

.header__lang img {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 9px;
  height: 6px;
}

.header__lang select {
  padding-left: 8px;
  height: 100%;
  width: 100%;
}

.header__theme {
  width: 26px;
  height: 26px;
}
