.header {
  border-bottom: 1px solid;
  width: 320px;
  height: 50px;
}

.header__wrapper {
  width: 290px;
  height: 30px;
  margin: 10px 15px;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 77px;
  height: 30px;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__lang {
  width: 50px;
  height: 30px;
  background: url('/assets/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 9px 6px;
  margin: 10px 0 10px 67px;
  padding: 8px 0 8px 8px;
  border-radius: 4px;
  border: 1px solid;
}

.header__theme {
  width: 26px;
  height: 26px;
  margin: 12px 0 12px 20px;
}

.header__burger {
  width: 30px;
  height: 20px;
  background: url('/assets/icons/burger.svg');
  margin: 3px 0 3px 20px;
}

.header__nav {
  display: none;
}