* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

select {
  border: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: inherit;
  font-size: inherit;
  font-weight: 400;
  color: inherit;
  text-align: inherit;
}

img {
  width: 100%;
}
