/* global */
body {
  padding-top: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;

  .root {
    background: var(--bg-primary);
  }
}

input {
  font-size: 16px;
}

img {
  width: 100%;
}
