/* footer */
.footer {
  padding: 30px 15px;
  color: #fff;
  background: #484848;

  &__wrapper {
    display: grid;
    gap: 30px;
  }
  
  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  &__info {
    @include flex_column;
    gap: 10px;
  }
  
  &__logo img {
    display: block;
    width: 216px;
  }
  
  &__copy {
    font-size: 12px;
    font-weight: 400;
  }
  
  &__dev img {
    display: block;
    height: 46px;
  }
}

